<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<link rel="stylesheet" href = "/style.css">
	<title></title>
</head>
<body>
	<div class="top">
	<h1><a href="/"><img src="http://i.imgur.com/loieGXE.png"></a></h1>
		<div id= "nav">
			<a href="/authors">Authors</a>
			<a href="/microposts">Microposts</a>
			<a href="/tags">Tags</a>
		</div>
	</div>
		<section id = "main">
			<%= yield %>
		</section>


</body>
</html>