<h3> Add a New Post! </h3>

<form action= "/microposts" method = "POST">
	<label for="Title">Title<br>
		<input type="text" name = "micropost[title]" >
	</label><br>
	
	<label for="Post">Post<br>
		<input type="text" name = "micropost[post]" >
	</label><br>
	
	<label for="date_created">Date Created<br>
		<input type="text" name ="micropost[date_created]">
	</label><br>
	<button>SUBMIT</button>
</form>