<div class = "one micropost">
<br><h3><%= @micropost.title %> | <%= @micropost.date_created %></h3><br>
<p><%= @micropost.post %><br><p>

<a href="/microposts/<%= @micropost.id %>/edit">Would you like to Edit this Post?</a>
</div>