<h1> Please click below to delete this tag</h1>


<div class = "main">
<form action = "/tags/<%= @tag.id%>" method = "POST">
	<input type = "hidden" name= "_method" value = "DELETE">
	<button>DELETE</button>
</form>
</div>