<h1> Put a Form here for new authors!</h1>

<div class = "main">
<form action = "/authors" method = "POST">

	<label for "name">Name <br>
		<input type = "text" name = "author[name]">
	</label><br>

	<label for "occupation">Occupation<br>
		<input type ="text" name = "author[occupation]">
	</label><br>

	<label for "age">Age<br>
		<input type ="text" name = "author[age]">
	</label><br>

	<label for "image_url">Image<br>
		<input type = "text" name = "author[image_url">
	</label> <br>
	<button>SUMBIT</button>

</form>
</div>